{$DOMAIN:localhost} {
    @collab path /collab*
    handle @collab {
        reverse_proxy backend:3001
    }

    @backend path /api/* /auth/* /projects/*
    handle @backend {
        reverse_proxy backend:3000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
